html {
  position: relative;
}
body {
  h1,
  h2,
  h3 {
    font-weight: 700;
    font-family: $font-fam-heading;
    hyphens: auto;
  }

  p {
    margin-top: 0;
    font-family: $font-fam-body;
  }

  a {
    color: currentColor;
    text-decoration: none;

    &:focus {
      text-decoration: none;
    }
  }
}

h1 {
  font-size: $font-size-h1;
}

.brand {
  .banner & {
    height: $banner-size;
    margin-top: 10px;
    z-index: 1;
    order: -1;

    .header--floating & {
      @include media-breakpoint-up(sm) {
        width: 100%;
        height: 100%;
        width: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      width: auto;
      order: initial;
    }
  }
}

h1 {
  .row & {
    margin: 0 0 1.2em 0;
    @include media-breakpoint-down(sm) {
      // text-align: center;
    }
  }
}
//svg
.logo {
  overflow: visible !important;
  transform: scale(0.8);

  @include media-breakpoint-up(sm) {
    height: 115px;
    transform: scale(1) translateY(22px); //magic number, want the music note sticking out, cute!
  }

  .header--floating & {
    @include media-breakpoint-up(sm) {
      transform: scale(1) translateY(22px);
    }
  }
}

.section--template-intro {
  padding-top: 0 !important;
}

.fp-section:not(.section--home) {
  height: auto !important;
}

.text--modest {
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.7;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.container-fluid {
  &:not(.banner) {
    padding-top: 70px;
    > .row {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  @include media-breakpoint-up(sm) {
    > .row {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
