@use "sass:list";
@use "sass:map";
@use "./variables" as v;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$breakpoint-order: xs, sm, md, lg, xl, xxl !default;

@function breakpoint-min($name) {
  @return map.get($grid-breakpoints, $name);
}

@function breakpoint-next($name) {
  $index: list.index($breakpoint-order, $name);

  @if $index == null {
    @return null;
  }

  @if $index >= list.length($breakpoint-order) {
    @return null;
  }

  @return list.nth($breakpoint-order, $index + 1);
}

@function breakpoint-max($name) {
  $next: breakpoint-next($name);

  @if $next == null {
    @return null;
  }

  @return breakpoint-min($next) - 0.02px;
}

@mixin media-breakpoint-up($name) {
  $min: breakpoint-min($name);

  @if $min == null or $min == 0 {
    @content;
  } @else {
    @media (min-width: $min) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($name) {
  $max: breakpoint-max($name);

  @if $max == null {
    @content;
  } @else {
    @media (max-width: $max) {
      @content;
    }
  }
}

@mixin media-breakpoint-between($lower, $upper) {
  $min: breakpoint-min($lower);
  $max: breakpoint-max($upper);

  @if $min == null and $max == null {
    @content;
  } @else if $min == null {
    @media (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

//keep aspect ratio
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc((#{$height} / #{$width}) * 100%);
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.row {
      margin: 0;
    }
  }
}
@mixin increase-delay($type: animation) {
  @for $i from 1 to 10 {
    &:nth-child(#{$i}) {
      #{$type}-delay: $i * 0.1s;
    }
  }
}

%reset-ul {
  padding: 0 !important;
  list-style-type: none;

  li {
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}

.a--block {
  display: block;
}

@mixin flex-fix() {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.flex--space {
  @include flex-fix();
  align-content: space-between;

  > * {
    width: 100%;
  }
}

.flex--around {
  @include flex-fix();
  align-content: space-around;
  align-items: center;
  padding: 0;

  > * {
    width: 100%;
  }
}

.pull-up {
  @include media-breakpoint-down(sm) {
    order: -1;
  }
}

.padless {
  padding: 2px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

%card-look {
  background: v.$smoke;
  box-shadow: 1px 1px 1px rgba(v.$black, 0.2);
  border-radius: 2px;
}

@mixin object-fit($fit: cover, $pos: center) {
  object-fit: $fit;
  object-position: $pos;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "object-fit: #{$fit}; object-position: #{$pos}"; /* for polyfill object-fit-images */
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
@mixin gradient-y(
  $start-color: #495057,
  $end-color: #343a40,
  $start-percent: null,
  $end-percent: null
) {
  background-image: linear-gradient(
    to bottom,
    $start-color $start-percent,
    $end-color $end-percent
  );
}
