@charset "UTF-8";

@font-face {
  font-family: "goedgebekt";
  src:url("../fonts/goedgebekt.eot");
  src:url("../fonts/goedgebekt.eot?#iefix") format("embedded-opentype"),
    url("../fonts/goedgebekt.woff") format("woff"),
    url("../fonts/goedgebekt.ttf") format("truetype"),
    url("../fonts/goedgebekt.svg#goedgebekt") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "goedgebekt" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "goedgebekt" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\63";
}
.icon-play:before {
  content: "\61";
}
.icon-spotify:before {
  content: "\64";
}
.icon-itunes:before {
  content: "\65";
}
.icon-youtube:before {
  content: "\66";
}
