.teaserblock,
.repertoirblock {
  & > .container-fluid,
  & > .container {
    background: $white;
  }

  article {
    // padding: 2rem 0;

    @include media-breakpoint-up(lg) {
      margin: 0 auto;
      max-width: 1170px;
      padding: 3rem 2rem;
    }
  }
}

.section {
  position: relative;

  a:not {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.img__frame {
  position: relative;
  padding: 3rem;
  @include media-breakpoint-between(sm, md) {
    max-width: 340px;
    max-height: 340px;
  }

  @include media-breakpoint-down(sm) {
    margin: 90px 0 60px 0;
  }
  @include media-breakpoint-up(md) {
    padding: 4rem;
  }

  figure {
    @include aspect-ratio(1, 1);
    // top: 50%;
    // transform: translateY(-50%);
    z-index: 1;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    circle {
      mix-blend-mode: multiply;
    }
  }

  img {
    margin: 0 auto;
    overflow: hidden;
    object-position: center !important;
    border-radius: 50%;
    border: 6px solid #f3f0ea;
    box-shadow: -2px 2px 8px rgba($black, 0.2);
    z-index: 1;
  }
}

.spacer {
  @include media-breakpoint-up(sm) {
    height: $spacer-size;

    .sections .section:last-of-type & {
      height: calc(#{$spacer-size}/ 2);
      background-color: $smoke;
    }
  }
}
