.card-deck {
  @include aspect-ratio(1, 1);
  margin-right: calc(-#{$grid-gutter-width}/2);
  margin-left: calc(-#{$grid-gutter-width}/2);
  padding: 0;
}

.cards {
  padding: 2px;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    font-size: 1.2em;
    transition: all 0.3s ease !important;
  }

  &.focus {
    padding: 0;
    box-shadow: 1px 1px 2px rgba($black, 0.2);
    cursor: default;
  }
}

.cards--single {
  @include aspect-ratio(1, 1);
}

.cards__title {
  position: absolute;
  top: 50%;
  width: calc(100% - 4px);
  margin: 0;
  color: $white;
  font-size: 1.4em;
  text-align: center;
  text-shadow: 1px 1px 6px rgba($black, 0.3);
  transform: translateY(-50%);
  z-index: 1;

  .focus & {
    opacity: 0;
  }
}

.cards__title--bottom {
  top: auto;
  right: 0;
  bottom: 0;
  transform: none;
}

.card {
  @include aspect-ratio(1, 1);
  position: relative;
  display: inline-block;
  float: left;
  width: 50%;
  overflow: hidden;

  &:nth-of-type(1) {
    .card__avatar {
      @extend .blend-pink;
    }
  }
  &:nth-of-type(2) {
    .card__avatar {
      @extend .blend-red;
    }
  }
  &:nth-of-type(3) {
    .card__avatar {
      @extend .blend-green;
    }
  }
  &:nth-of-type(4) {
    .card__avatar {
      @extend .blend-yellow;
    }
  }

  &:hover {
    &:nth-of-type(1) {
      @extend .blend-pink;
    }
    &:nth-of-type(2) {
      @extend .blend-red;
    }
    &:nth-of-type(3) {
      @extend .blend-green;
    }
    &:nth-of-type(4) {
      @extend .blend-yellow;
    }
  }

  .cards--single & {
    width: 100%;
    height: 100%;
  }
}

.card--single {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  width: calc(50% - 2px);
  height: calc(50% - 2px);
}

.card__header {
  height: 100%;

  .focus .card:hover .content > & {
    .card__avatar {
      position: relative;
      width: 70%;
      height: 70%;
      max-height: 70%;
      margin: 1em auto;
      border: 10px solid rgba($white, 0.7);
      border-radius: 50%;
      overflow: hidden;
      z-index: 2;
      transition: border 0.3s ease-out, border-radius 0.3s ease-in, width 0.2s linear;

      &::after {
        filter: none !important;
        mix-blend-mode: normal !important;
        background: none;
        transition: mix-blend-mode 0.3s linear 0.6s;
      }

      img {
        mix-blend-mode: normal;
      }
    }

    .card__meta {
      transform: translateY(0);
      transition: transform 0.4s ease-in-out 0.3s;
    }
  }
}

.card__avatar {
  width: 100%;
  max-height: 100%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__meta {
  position: absolute;
  bottom: -10px;
  width: 100%;
  color: $white;
  text-align: center;
  z-index: 1;
  transform: translateY(100%);

  h3 {
    margin: 0.5em;
    text-shadow: 1px 1px 6px rgba($black, 0.2);
  }

  p {
    display: none;
  }
}

.card__body {
  display: none;
  position: absolute;
  top: 25%;
  width: 100;
  padding: 0 5px;
  color: $white;
}

[data-focus-parent="4squares"] {
  .card-deck .content > * {
    transition: opacity 0.4s ease-out, width 0.3s ease, max-height 0.3s ease,
      -webkit-filter 0.5s ease;
  }

  //initial state squares
  [data-focus="4squares"] {
    position: absolute;
    // opacity: 1;

    * {
      pointer-events: none;
    }

    &.focus {
      * {
        pointer-events: auto;
      }
    }

    &:nth-of-type(odd) {
      left: 0;
    }
    &:nth-of-type(even) {
      right: 0;
    }
    &:nth-of-type(-n + 2) {
      top: 0;
    }
    &:nth-of-type(n + 3) {
      bottom: 0;
    }
  }

  &.focus {
    [data-focus="4squares"] {
      // opacity: 0;

      //focused square
      &.focus {
        position: absolute;
        width: 100%;
        max-height: 100%;
        z-index: 5;
        opacity: 1;
      }
    }
  }
}
