.quotes {
  @include media-breakpoint-up(sm) {
    height: 60vh;
  }
  .carousel {
    background-color: $smoke;
  }
}

.quote {
  position: relative;
  height: $spacer-size;

  .quote__item {
    position: absolute;
    bottom: 40%;
    left: 5%;
    max-width: 90%;
    padding: 32px 48px;
    color: $white;
    background: rgba(#fe265e, 0.8);
  }

  .quote__origin {
    font-size: 0.8em;
    text-align: right;
  }

  q {
    font-family: var(--bs-font-sans-serif);
    font-size: 1.4em;
    font-weight: 700;
    font-style: italic;
    quotes: '"' '"' "'" "'";

    @include media-breakpoint-up(sm) {
      font-size: 2em;
    }

    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
}
