.quotes {
  @include media-breakpoint-up(sm) {
    //min 576
    height: 60vh;
  }

  @include media-breakpoint-down(sm) {
    //max 575.9
    position: absolute;
    width: 100%;
    margin-top: -37%; //magic number based on image
    z-index: 1;
  }
}

.quote {
  position: relative;
  height: 45vh; //mgic, for landscape mobile

  .quote__item {
    position: absolute;
    bottom: 40%;
    left: 5%;
    max-width: 90%;
    padding: 32px 48px;
    color: $white;
    background: rgba(#ac1f65, 0.95);
  }

  .quote__origin {
    font-size: 0.8em;
    text-align: right;
  }

  q {
    display: block;
    font-family: var(--font-family-quote);
    font-size: 1.4em;
    font-weight: 700;
    font-style: italic;
    text-align: left;

    @include media-breakpoint-up(sm) {
      font-size: 2em;
    }
    &::before {
      content: open-quote;
      position: absolute;
      top: -1rem;
      left: 1rem;
      font-size: 8rem;
      opacity: 0.3;
    }
  }
}
