// [class*="member--"] {
//   position: absolute;
//   width: 180px;
//   img {
//     width: 100%;
//     height: auto;
//   }

//   &:nth-of-type(1) { right: 49%; bottom: 3%; }
//   &:nth-of-type(2) { right: 47%; bottom: -18%; z-index: 2; }
//   &:nth-of-type(3) { right: 42%; bottom: -2%; z-index: 1; }
//   &:nth-of-type(4) { right: 35%; bottom: -15%; z-index: 1; }

//   &:nth-of-type(5) { right: 37%; bottom: 12%;  }
//   &:nth-of-type(6) { right: 25%; bottom: 15%;  }
//   &:nth-of-type(7) { right: 30%; bottom: 0;  }
//   &:nth-of-type(8) { right: 24%; bottom: -9%;  z-index: 3;}

//   &:nth-of-type(9) { right: 19%; bottom: 7%; z-index: 2 }
//   &:nth-of-type(10) { right: 16%; bottom: -19%; z-index: 3; }
//   &:nth-of-type(11) { right: 11%; bottom: 0; z-index: 1; }
//   &:nth-of-type(12) { right: 5%; bottom: -13%; z-index: 1; }

//   &:nth-of-type(13) { right: 15%; bottom: 27%; }
//   &:nth-of-type(14) { right: 3%; bottom: 36%; }
//   &:nth-of-type(15) { right: 8%; bottom: 20%; }
//   &:nth-of-type(16) { right: 0%; bottom: 18%; }

//   &:nth-of-type(17) { bottom: -8%; left: 22%; }

//   figcaption {
//     display: none;
//   }

// }


[class*="users--"] {
  &:last-of-type {
    display: none;
  }

}
[class*="member--"] {

}